/* Utilities */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    background: #27191F;
}
.clr {
    clear: both;
}

/* Navbar */
#nav-bar a {
    color: #ccc;
    text-decoration: none;
}
#nav-bar h1 {
    font-size: 50px;
    text-align: center;
    margin: 40px;
}


#nav-bar ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 40px;
}
#nav-bar li a {
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
#nav-bar li a:hover,
#nav-bar li a.current {
    background: #ccc;
    color:#27191F;
    font-weight: bold;
}


/* Description-img */
#description .container p {
    background: url(/images/pic2.jpg) no-repeat center center/cover;
    height:1600px;
    color: #27191F;
    padding:40px 0;
    margin-top: 105px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}


/* Feature boxes */
#features .box {
    color:#ccc;
    float:left;
    width:50%;
    padding:50px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}


#features .box:hover,
#features .box-1 {
    color:#27191F;
    background: #ccc;
}

/*Main Footer*/
#main-footer p {
    text-align: center;
    color: #fff;
    background:#27191F;
    padding: 20px;
}