/* Main-Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    background: #27191F;
    color: #ccc;
}
.clr {
    clear: both;
}

/* Navbar */

#nav-bar p {
    color: #ccc;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#nav-bar a {
    color: #ccc;
    text-decoration: none;
}
#nav-bar h1 {
    font-size: 50px;
    text-align: center;
    margin: 40px;
}


#nav-bar ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;

}
#nav-bar li a {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    line-height: 5rem;
}
#nav-bar li a:hover,
#nav-bar li a.current {
    background: #ccc;
    color:#27191F;
    font-weight: bold;
}


/* Social links column */

.social-links {
    position: absolute;
    top: 30px;
    left: 10px;
}

.social-links svg {
    width: 20px;
    height: 20px;
}

.social-links a {
    list-style: none;
    display: inline-block;
    transition: 0.3s;
    color: white;
    margin-bottom: 20px;
}

.social-links a:hover {
    transform: translateY(-3px);
}

/*Query Form*/

#Query-form .container h2,
#Query-form .container p {
    text-align: center;
}

#Query-form .container h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

#Query-form .container p {
    margin-bottom: 50px;
}

.form-box input,
.form-box textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.form-field {
    margin-bottom: 16px;
}

.form-box label {
    font-size: 19px;
    font-weight: 700;
}

.form-box textarea { height: 140px; }

.form-box input[type*="submit"] {
    width: auto;
    padding: 14px 32px;
    background-color: #ccc;
    color: #27191F;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

.form-box input[type*="submit"]:hover {
    background-color: #9f9c9c;
}
/*Main Footer*/
#main-footer p {
    position: sticky;
    text-align: center;
    color: #fff;
    background:#27191F;
    padding: 20px;
}